<html>
    <head>
        <title>~~ Deano's Blog ~~</title>
    </head>
    <body>
        <div>
            <h1><a href="/">DEANOS BLOG</a></h1>
        </div>

        <div>
            <p>published: 09.04.2020</p>
            <h2><a href="">New beginnings!:</a></h2>
            <p>Welcome to my new blog, which I create whilst learning on DjanoGirls (even though I'm a
                man haha!) Hopefully I will learn to code fluently in HTML, Python and Java. :D</p>
        </div>

    </body>
</html>

